body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container img {
    width: 100px;
    height: 70px;
}
.container-news {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
nav {
    display: flex;
    flex-grow: 1; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cc1c0c;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #cc1c0c;
    font-size: 105%;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.header-links {
    margin-left: auto;
}

.header-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.header-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cc1c0c;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header-links a:hover {
    color: #cc1c0c;
    font-size: 110%;
}

.header-links a:hover::after {
    width: 100%;
    left: 0;
}
.itens {
    margin-left: 200px;
}
.container2 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 6px rgb(167, 165, 165);
}
  
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    
  }
  
.search-bar input {
    width: 70%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgb(111, 109, 109);
  }
  
.search-bar button {
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 3px 8px rgb(95, 93, 93);
  }
.search-bar button:hover{
    transform: scale(1.1);
    box-shadow: 2px 3px 8px rgb(121, 119, 119);
  }
.category-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
  }
.category-filter select {
    width: 30%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 3px;
    cursor: pointer;
    outline: none;
  }
.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 10px 0;
  }
  
.news-article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
.news-article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
.news-article h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
.news-article p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
  }
  
.news-article a {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }
  
  .news-article a:hover {
    color: #666;
  }
  
  .foot{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
}
ul{
	list-style: none;
}
.footer{
	background-color: #A01308;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    margin-right: 90px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #f6f6f6;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
.social-bar {
    background-color: #E30613;
    text-align: center;
    padding: 10px 0;
}

.social-bar a {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-bar a:hover {
    color: #f1f1f1;
}

