body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container img {
    width: 100px;
    height: 70px;
}

nav {
    display: flex;
    flex-grow: 1; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cc1c0c;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #cc1c0c;
    font-size: 105%;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.header-links {
    margin-left: auto;
}

.header-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.header-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cc1c0c;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header-links a:hover {
    color: #cc1c0c;
    font-size: 110%;
}

.header-links a:hover::after {
    width: 100%;
    left: 0;
}
.itens {
    margin-left: 200px;
}
.container2 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    }
    
    .filtros button, .filtros input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    }

.pesquisar {
background-color: #cc1c0c;
color: white;
border: none;
cursor: pointer;
}
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
.news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}
.news-item2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}
.news-item img {
    width: 100%;
    display: block;
}
.news-item2 img {
    width: 100%;
    display: block;
}
.news-content {
    padding: 15px;
}
.news-content h3 {
    color: #d00;
    margin-bottom: 10px;
}