body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container img {
    width: 100px;
    height: 70px;
}

nav {
    display: flex;
    flex-grow: 1; /* Faz o menu ocupar o espaço à esquerda */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-start; /* Alinha os itens à esquerda */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

/* Adiciona um efeito de underline animado */
nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cc1c0c;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #cc1c0c;
    font-size: 105%;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header-links a {
    text-decoration: none;
    color: #333;
}

.banner {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    margin: 20px 0;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.professores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
}

.professor {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 800px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.professor:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.professor img {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-right: 20px;
    border: 3px solid rgb(255, 255, 255);
}

.info {
    text-align: left;
}

.info h2 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.info p {
    margin-top: 5px;
    font-size: 1rem;
    color: #555;
}

.itens {
    margin-left: 200px;
}